.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 50px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

  .search-bar {
    width: 50%;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    outline: 0px;
  }

  .search-button {
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 20px;
    background-color: #ec7373;
    color: white;
    outline: none;
  }

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px;
  margin-bottom: 20px;
}